body {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.burger-icon {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    z-index: 10;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.card {
    width: 100%;
    height: 100%;
    max-width:300px;
    background-color: #17e093;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    border-radius: 8%;
    align-self: center;
    justify-self: center;
}
.card-img{
    width: 100%;
    height: 100%;
    max-width:250px;
    max-height: 250px;
    margin-top: 10px;
    border-radius: 30%;
    border: white solid 4px;
}
.card-name {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-number {
    color: white;
}
.grid-cards {
    display: grid;
    row-gap: 25px;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 70px;

}
.burger-menu {
    flex-direction: column;
    background: coral;
    width: 50%;
    height: 100vh;
    z-index: 5;
    position: fixed;
    align-items: center;
    gap: 40px;
    padding-top: 130px;
    border-radius: 10px;
}
.burger-links {
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.closed {
    display: none;
}
.open {
    display: flex;
}
a {
    text-decoration: none;
}
.toggle-box {
    display: flex;
    align-items: center;
    gap: 8px;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(41, 41, 41, 0.6);
    z-index: 2;
}
.overlay.active {
    display: block;
}
.burger-links:hover {
    color: white;
    cursor: pointer;
}
.burger-icon:hover {
    transform: rotate(360deg);
    transition-duration: 2s;
    cursor: pointer;
}
.card-name:hover {
    cursor: default;
    color: white;
    text-shadow: 1px 1px 1px blue;
}
.card-img:hover {
    border: blue solid 4px;
}
.card-number:hover {
    color: black;
}
.card:hover {
    box-shadow: 4px 4px 5px #fffb00;
}
@media only screen and (max-width: 1300px) {
    .grid-cards {
        grid-template-columns: 25% 25%;
        justify-content: center;
        gap: 10px;
    }
}
@media only screen and (max-width: 1000px) {
    .grid-cards {
        grid-template-columns: 300px;
    }
}

